﻿@model IEnumerable<SIPlayHomework.Models.Family>

@{
    ViewBag.Title = "My Family";
}

<h2>My Family</h2>

<p>
    @Html.ActionLink("Add Family Member", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountHolder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Child)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AspNetUserId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountHolder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Child)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AspNetUserId)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
