﻿@model IEnumerable<SIPlayHomework.Models.Registration>

@{
    ViewBag.Title = "Registration Report";
}

<h2>@ViewBag.Title</h2>

@*<table class="table">
    <tr>
        <th>
            Session Name
        </th>
        <th>
            Start Date
        </th>      
        <th></th>
    </tr>*@

    @foreach (var item in ViewBag.Sessions)
    {
       <div style="color: blue; font-weight: bold;"> @item.Name - @item.StartDate.ToString("MM/dd/yyyy")</div>
     
        <ul>
            @foreach (var reg in Model.Where(x => x.SessionId == @item.ID))
            {
                <li>
                    @Html.DisplayFor(modelItem => reg.Family.FirstName) @Html.DisplayFor(modelItem => reg.Family.LastName) 
                    
                    $@Html.DisplayFor(modelItem => reg.Price)
                </li>
            }

        </ul>
    }

    
@*</table>*@


