﻿@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <p class="lead">You can maanage your family or register for a sesssion with the links up there.</p>
    }
    else
    {
        <p class="lead">Please login or register to sign up for a session and manage your family.</p>

    }
    
   
</div>

