﻿@model IEnumerable<SIPlayHomework.Models.AccountMember>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountMemberType.MemberTypeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account.FamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountMemberType.MemberTypeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccountMemberId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccountMemberId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccountMemberId })
        </td>
    </tr>
}

</table>
