﻿@model SIPlayHomework.Models.Session

@{
    ViewBag.Title = "Register for Session";
}


    <div>
        <h4>Register for @Html.DisplayFor(model => model.Name), @Html.DisplayFor(model => model.StartDate), @Html.DisplayFor(model => model.Price)</h4>
        <hr />

        <ul>
            @foreach (var person in ViewBag.FamilyMembers)
            {
                
                <li>
                    @person.FirstName @person.LastName @Ajax.ActionLink("Enroll",
                        "Enroll", "Session", new { sessionId = Model.ID, familyMemberId = @person.ID, price = Model.Price },
                        new AjaxOptions
                        {
                            UpdateTargetId = "btnEnroll" + @person.ID,
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST"
                        }, htmlAttributes: new { id = "btnEnroll" + @person.ID })
                </li>
            }
        </ul>
    </div>

<p>

    @Html.ActionLink("Back to List", "Index")
</p>
